<div class="row">
  <div class="col-md-6">
    <h2 class="chat-header">Welcome to Chat</h2>

    <ul class="list-group" id="messages" >
    </ul>

    <input name="chat-input" id="chat-input" type="text"></input>
    <input id="chat-submit" class="btn btn-success" type="submit">
  </div>

  <div class="col-md-6">
    <h2 class="github-status-header">Github Status</h2>

    <ul class="list-group" id="updates"> 
    </ul>
  </div>
</div>
